@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

/* =========== Common Setup Start ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: "Satisfy", cursive;
}
h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
p,a{
    font-family: "Noto Serif", serif;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
:root{
    --BG-clr : #F6FCDF;
    --primary-clr: #1A1A19;
    --Text-clr : #04090f;
    --secondary-clr: #31511E;
    --acsent-clr: #475D0A;
    --box-swd: rgba(0, 0, 0, 0.5);
    --box-swd2: rgba(0, 0, 0, 0.3);
    --border-rds: 2px 28px 2px 28px;
    --border-rds2: 12px;
    --margin: 0 5%;

}
.btn{
    font-size: 1.4rem;
    font-family: "Satisfy", cursive;
    padding: 0.5rem 2.5rem;
    border-radius: var(--border-rds2);
    border: none;
    background: #ffffff;
    color: var(--Text-clr);
    box-shadow: 4px 4px 12px var(--box-swd2);
    
}
.btn:hover{
    background: var(--acsent-clr);
    color: var(--BG-clr);
}
/* =========== Common Setup End ============ */
/* =========== header star ============ */
.navbar{
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    font-size: 30px;
    font-family:"Noto Serif", serif;
    color: var(--acsent-clr);
}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-item{
    text-transform: uppercase;
    border: none;
}
.nav-item :hover {
    background: var(--primary-clr);
    color: var(--BG-clr);
    border-radius: var(--border-rds2);
    
}
.nav-link{
    color: var(--Text-clr);
    font-size: 18px;
    padding: 5px 12px;
}
/* =========== header ends ============ */







@media screen and (max-width : 600px) {
    .navbar{
        flex-direction: column
    }

    .nav{
        flex-direction: column;
        gap: 10px;
    }
    /* .nav-item{
        display: none;
    } */

}