@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

/* =========== Common Setup Start ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: "Satisfy", cursive;
}
h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
p,a{
    font-family: "Noto Serif", serif;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
:root{
    --BG-clr : #F6FCDF;
    --primary-clr: #1A1A19;
    --Text-clr : #04090f;
    --secondary-clr: #31511E;
    --acsent-clr: #475D0A;
    --box-swd: rgba(0, 0, 0, 0.5);
    --box-swd2: rgba(0, 0, 0, 0.3);
    --border-rds: 2px 28px 2px 28px;
    --border-rds2: 12px;
    --margin: 0 5%;

}
.btn{
    font-size: 1.4rem;
    font-family: "Satisfy", cursive;
    padding: 0.5rem 2.5rem;
    border-radius: var(--border-rds2);
    border: none;
    background: #ffffff;
    color: var(--Text-clr);
    box-shadow: 4px 4px 12px var(--box-swd2);
    
}
.btn:hover{
    background: var(--acsent-clr);
    color: var(--BG-clr);
}
/* =========== Common Setup End ============ */
/* =========== header star ============ */
.navbar{
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-title{
    font-size: 30px;
    font-family:"Noto Serif", serif;
    color: var(--acsent-clr);
}
.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.nav-item{
    text-transform: uppercase;
    

}
.nav-item :hover {
    background: var(--primary-clr);
    color: var(--BG-clr);
    border-radius: var(--border-rds2);
}
.nav-link{
    border: none;
    text-align: center;
    border-radius: var(--border-rds2);
    color: var(--Text-clr);
    font-size: 18px;
    padding: 10px 25px;
}

.hero{
    width: 100%;
    height: 85vh;
    background-image: url(/assest/image/project/laptop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__con{
    margin: var(--margin);

}
.hero__title h1{
    padding: 30px 0;
    font-size: 120px;
    font-weight: 700;
    color: var(--BG-clr);
    text-align: center;
}
.hero__sub__title h4{
    font-size: 40px;
    font-weight: 600;
    color: var(--BG-clr);
    text-align: center;
}
.hero__deck{
    width: 700Px;
    margin: 0 auto
    
}
.hero__deck p{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: var(--BG-clr);
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 50px;
}
.button button{
    margin: 0 20px;
}
/* =========== header ends ============ */




/* =========== footer start ============ */
.ft__con{
    margin: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--acsent-clr);
}
/* .ft__slide{
    
} */
.ft__slide__left{
    width: 250px;
    height: 400px;
}
.ft__slide__left img{
    width: 100%;
    height: 100%;
}
.ft__center__title h5{
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--BG-clr);
}
.ft__center__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.ft__list__item{
    text-transform: capitalize;
    margin: 20px 0;
}
.ft__list__link{
    font-size: 22px;
    background-color: var(--Text-clr);
    color: var(--BG-clr);
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
}
.ft__list__link:hover{
    background-color: var(--BG-clr);
    color: var(--Text-clr);
}
.ft__list__social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.ft__social__div{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.ft__social__item a i{
    font-size: 30px;
    background-color: var(--Text-clr);
    color: var(--BG-clr);
    border: none;
    border-radius: 50%;
    padding: 20px;
}
.ft__social__item a i:hover{
    background-color: var(--BG-clr);
    color: var(--Text-clr);
}








/* =========== footer ends ============ */







@media screen and (max-width : 600px) {
    .navbar{
        gap: 30px;
        flex-direction: column
    }

    .nav{
        flex-direction: column;
        gap: 10px;
    }
    .nav-item{
        display: none;
    }


    .ft__con{
        flex-direction: column;
        gap: 50px;
    }
    .ft__slide__left{
        display: none;
    }
    .ft__slide__right{
        width: 400px;
        height: 400px;
        text-align: center;
    }
    .ft__slide__right iframe{
        width: 100%;
        height: 100%;
    }
    

}